.aboutme {
  background: linear-gradient(
        180deg,
        #1f1e1e 0%,
        #141414 15%,
        rgba(0, 0, 0, 0.6) 100%
      )
      no-repeat,
    url('../assets/images/background2.jpg') no-repeat;
  background-size: cover;
  height: 96vh;
}

.contentaboutme {
    width: 60%;
    padding: 100px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h1aboutme {
    font-size: 3rem;
    margin-bottom: 30px;
}

.paboutme {
    font-size: 1.3rem;
}