.aboutme {
  background: linear-gradient(
        180deg,
        #1f1e1e 0%,
        #141414 15%,
        rgba(0, 0, 0, 0.6) 100%
      )
      no-repeat,
    url('../assets/images/background2.jpg') no-repeat;
  background-size: cover;
  height: 96vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.contentaboutme {
  width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1rem;
}

.h1aboutme {
  font-size: 3rem;
  margin-bottom: 15px;
}

.paboutme {
  font-size: 1.1rem;
}

.photo {
  width: 420px;
  height: 400px;
  margin-right: 60px;
  border-radius: 5% 50%;
  filter: grayscale(40%);
}

@media (max-width: 480px) {
  .aboutme {
    flex-direction: column;
    justify-content: end;
  }

  .contentaboutme {
    width: 80%;
    height: 58vh;
    padding-top: 0;
    justify-content: flex-start;
  }

  .photo {
    width: 210px;
    height: 200px;
    margin: 0 auto;
  }

  .h1aboutme {
    font-size: 1rem;
  }

  .paboutme {
    font-size: 0.8rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .aboutme {
    flex-direction: column;
    justify-content: end;
  }

  .contentaboutme {
    width: 85%;
    height: 50vh;
  }

  .photo {
    width: 260px;
    height: 250px;
    margin: 0 auto;
  }

  .h1aboutme {
    font-size: 1.8rem;
  }

  .paboutme {
    font-size: 0.9rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .aboutme {
    flex-direction: column;
    justify-content: end;
  }

  .contentaboutme {
    width: 80%;
    height: 50vh;
  }

  .photo {
    width: 280px;
    height: 270px;
    margin: 0 auto;
  }

  .h1aboutme {
    font-size: 2rem;
  }

  .paboutme {
    font-size: 1rem;
  }
}