.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background: transparent;
    backdrop-filter: blur(5px);
    padding-right: 30px;
    box-shadow: 0px 0px 8px rgb(252, 252, 252);
  }

  .navitem {
    list-style: none;
  }

  .navbar {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar a {
    text-decoration: none;
  }

  .navbar a:hover {
    font-size: 1.5rem;
  }

  .navmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }

  .hamburguer {
    display: none;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all 0.3s ease;
    background-color: white;
  }

  .logo {
    width: 8vh;
  }

  @media (max-width:1024px) {
    .hamburguer {
      display: block;
    }

    .hamburguer.active .bar:nth-child(2) {
      opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }

    .navmenu {
      position: relative;
      margin-top: -100%;
      gap: 0;
      flex-direction: column;
      width: 80%;
      text-align: center;
      transition: 0.3s;
      z-index: 100;
    }

    .navitem {
      margin: 16px 0;
    }

    .navmenu.active {
      margin-top: 0;
    }

    .header.active {
      background-color: black;
    }
  }
