* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: poppins;
  font-weight: 300;
  color: white;
  overflow-y: hidden;
}

.linkedingithub {
  color: white;
}

.home {
  display: flex;
  padding-left: 10vh;
  background-size: 200% 200%;
  height: 100vh;
  position: relative;
  background: linear-gradient(
        180deg,
        #1f1e1e 0%,
        #141414 15%,
        rgba(0, 0, 0, 0.6) 100%
      )
      no-repeat,
    url('../assets/images/background-computer.jpeg') no-repeat;
  background-size: cover;
}

.color {
  position: absolute;
  z-index: 0;
  right: 3%;
  height: 75vh;
  opacity: 0.9;
  top: 19%;
}

.photo {
  position: absolute;
  right: 3%;
  bottom: 0;
  z-index: 1;
  height: 80vh;
}

.apresimg {
  margin-top: 10%;
}

.myname {
  font-weight: 200;
}

.name {
  font-size: 12vh;
  font-weight: 500;
}

.figueiredo {
  font-weight: 900;
  color: rgb(255, 217, 0);
}

.hi {
  background-color: rgb(201, 71, 78);
  padding: 0px 8px;
  border-radius: 10px;
}

.trybe {
  text-align: center;
  font-size: 6vh;
  font-family: poppins;
}

.desenvolvedora {
  color: rgb(201, 71, 78);
  font-weight: 900;
}

.linkedingithub {
  text-decoration: none;
  padding: 20px 50px;
  margin: 50px;
  background-color: rgb(255, 217, 0);
  border-radius: 100px;
  font-weight: 700;
  color: black;
}

.linkedingithub:hover {
  background-color: rgb(201, 71, 78);
  color: white;
}

.social {
  text-align: center;
  padding: 50px 0;
}
