.projects {
  background: linear-gradient(
        180deg,
        #1f1e1e 0%,
        #141414 15%,
        rgba(0, 0, 0, 0.6) 100%
      )
      no-repeat,
    url('../assets/images/background2.jpg') no-repeat;
  background-size: cover;
  height: 96vh;
}

.h1projects {
  color: white;
  text-align: center;
  padding-top: 7%;
  font-size: 3rem;
}

.containerprojects {
  display: flex;
  height: 80%;
  justify-content: space-evenly;
  align-items: center;
}

.project {
  width: 40vh;
  height: 55vh;
  box-shadow: 0px 0px 5px rgb(201, 71, 78);
  background-color: #202020;
  border-radius: 10px;
}

.project:hover {
  box-shadow: 0px 0px 15px rgb(201, 71, 78);
  cursor: pointer;
}

.imgproject {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.h2project {
  text-align: center;
  font-weight: 600;
  height: 10%;
}

.pproject {
  text-align: center;
  height: 30%;
}
