.skills {
    background: linear-gradient(
          180deg,
          #1f1e1e 0%,
          #141414 15%,
          rgba(0, 0, 0, 0.6) 100%
        )
        no-repeat,
      url('../assets/images/background2.jpg') no-repeat;
    background-size: cover;
    height: 96vh;
  }

.h1skills {
  text-align: center;
  padding-top: 7%;
  font-size: 3rem;
}

.skillscontainer {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 50px auto;
  height: 60vh;
  justify-content: center;
}

.skill {
  padding: 10px 40px;
  text-align: center;
}

@media (max-width:480px) {
  .skillscontainer {
    width: 90%;
    margin: 40px auto;
    height: 70vh;
  }

  .h1skills {
    font-size: 2rem;
    margin-top: 3.5rem;
  }

  .skill {
    padding: 8px 20px;
    font-size: 0.8rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .skillscontainer {
    width: 80%;
    margin: 40px auto;
    height: 70vh;
  }

  .h1skills {
    font-size: 2rem;
    margin-top: 3.5rem;
  }

  .skill {
    padding: 8px 20px;
    font-size: 0.7rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .skillscontainer {
    width: 90%;
    margin: 40px auto;
    height: 70vh;
  }

  .h1skills {
    font-size: 2.7rem;
    margin-top: 2rem;
  }

  .skill {
    padding: 8px 20px;
    font-size: 0.7rem;
  }
}